body{
background:#0f0f0f;
color:white;
font-family:Arial;
text-align:center;
}

.container{
margin-top:100px;
}

input{
width:400px;
padding:12px;
border-radius:6px;
border:none;
margin-top:20px;
}

button{
padding:12px 25px;
margin-top:20px;
background:red;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#c40000;
}

.icons i{
font-size:40px;
margin:10px;
}

.youtube{
color:red;
}

.facebook{
color:#1877f2;
}

.tiktok{
color:white;
}

#result{
margin-top:25px;
font-size:18px;
}
